chainlit 
langchain-openai
langchain
langchain-community
langgraph
pyodbc 
unstructured
unstructured[pdf]
pillow
pymupdf
python-dotenv
ipykernel
ipywidgets 
openai
tiktoken
llama-index 
pypdf
llama-index-llms-langchain
flask
wget
chromadb
numpy
pandas
scikit-learn
scipy
seaborn
matplotlib
transformers
qdrant-client
faiss-cpu